.container .headerCV {
    text-align: center;
}

.container h3 {
    text-align: center;
}

.rowMainCV {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/de76ef42-744b-4132-af1f-3a6a713b4e20/d5lsb1h-084c338d-4c95-4e53-99f1-e73a3eb89d85.jpg/v1/fill/w_1280,h_1811,q_75,strp/cv_background___1_by_comidion_d5lsb1h-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTgxMSIsInBhdGgiOiJcL2ZcL2RlNzZlZjQyLTc0NGItNDEzMi1hZjFmLTNhNmE3MTNiNGUyMFwvZDVsc2IxaC0wODRjMzM4ZC00Yzk1LTRlNTMtOTlmMS1lNzNhM2ViODlkODUuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.plzpZaFxj_IoyXuFlZWTo8bQObXycXUS3dYk_0lywA4');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}